@{
    Layout = "/Areas/admincp/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron jumbotron-access-denied">
    <div class="jumbotron">
        <h1 class="display-3">
            Bạn không thể truy cập mục này
        </h1>
    </div>
</div>
