

@model List<KOL_HoangThuyLinh.Models.tblGalleryDT>
@using System.Web.Configuration;
@using KOL_HoangThuyLinh.Models;
@{
    string url = WebConfigurationManager.AppSettings["UrlHost"];
}

@if (Model != null)
{
    <article>
        <div class="container-fluid">

            <div class="row justify-content-center my-5">
                <div class="title-gallery">
                    <h1>Danh sách hình ảnh</h1>
                </div>
            </div>
            <div class="gallery">
                @if (Model.Count > 0)
                {
                    <div class="row">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <div class="col-sm-4 col-6 mt-3">
                                <div class="card">
                                    <a href="#" onclick="initValue(@(i))" data-toggle="modal" data-target="#modalGallery">
                                        <img src="@Url.Content("~/uploads/" + Model[i].Avatar)" class="card-img img-fluid">
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="w-55 loading-more my-3">
                        <a href="/bai-viet-hinh-anh-2c">LOADMORE...</a>
                    </div>
                }
            </div>
        </div>
    </article>

}

@Html.Partial("_modalGallery", Model)


@section scripts{
    <script type="text/javascript">
        var swiper;
        function initValue(initImage) {
            $('#currentImageClicked').val(initImage);
        }

        $('#modalGallery').on('show.bs.modal', function (event) {
            if (swiper != null) {
                swiper.destroy(true, true);
                swiper = null;
            }
            var imageClicked = $('#currentImageClicked').val();
            swiper = new Swiper(".myModalSwiper", {
                slidesPerView: 1,
                initialSlide: Number(imageClicked),
                pagination: {
                    el: ".swiper-pagination",
                    type: "fraction"
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev"
                },
                loop: true,
                speed: 700,
                watchSlidesProgress: true,
            })
            $('.swiper-slide').css("transform", `scale(0)`);
        })

        $('#modalGallery').on('shown.bs.modal', function (event) {
            $('.swiper-slide').css("transform", `scale(1)`);
        })
    </script>
}