@model IEnumerable<kol01_hoangthuylinh.Models.tblTag>
@using kol01_hoangthuylinh.Helpers
@{
    string url = Constants.urlHost;
}
@foreach (var item in Model)
{
    string strLink = url + "tag/" + myCommon.FriendlyUrl(item.TagName) + "-" + item.Id + ".html";

    <a href="@strLink" title="@item.TagName" class="badge badge-success">@item.TagName</a>

}
