@using kol01_hoangthuylinh.Models;
@inject Wangkanai.Detection.Services.IDetectionService DetectionService


<section class="margin-top-content mt-2">
    <div class="contain-full">
        <partial name="_HomeBannerProfile" model="@ViewBag.aboutMe" />
        @* @Html.Partial("_HomeBannerProfile", ViewData["aboutMe"]) *@
        <div class="blog-contanier">
            <div class="container-fluid">
                <div class="grid-blog" id="dvList">
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            LoadData();
        });

        function LoadData() {
            $.ajax({
                url: "@Url.Action("GetList", "Home")",
                type: "POST",
                success: function (msg) {
                $("#dvList").html(msg);
                }
                })
                }
    </script>

}