<div class="footer-row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-4">
                <img src="/Content/Images//fi1.jpg" alt="">
            </div>
            <div class="col-sm-2 col-4">
                <img src="/Content/Images//fi2.jpg" alt="">
            </div>
            <div class="col-sm-2 col-4">
                <img src="/Content/Images//fi3.jpg" alt="">
            </div>
            <div class="col-sm-2 col-4">
                <img src="/Content/Images//fi4.jpg" alt="">
            </div>
            <div class="col-sm-2 col-4">
                <img src="/Content/Images//fi5.jpg" alt="">
            </div>
            <div class="col-sm-2 col-4">
                <img src="/Content/Images//fi6.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="fi-caption">
        FOLLOW US ON <a href="https://www.instagram.com/hoangthuylinhofficial/"><i class="fa fa-instagram"></i> INSTAGRAM</a>
    </div>
</div>
