@model List<KOL_HoangThuyLinh.Models.tblGalleryDT>
@using System.Web.Configuration;
@using KOL_HoangThuyLinh.Models;


<input type="hidden" id="currentImageClicked" />
<div class="modal fade" id="modalGallery" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <button type="button" class="close" data-bs-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="swiper myModalSwiper swiper-gallery">
                    <div class="swiper-wrapper">
                        @foreach (tblGalleryDT tbl in Model)
                        {
                            <div class="swiper-slide">
                                <img src="@Url.Content("~/uploads/" + tbl.Avatar)">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



