@using System.Web.Configuration;
@{

    string FooterDescription = myCommon.isEnableRedisCached ?
        MyCacheFunc.GetConfigWeb().DescriptionWeb : new myfunc().GetConfigWeb().DescriptionWeb;
}

<footer>
    <div class="container footer-container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="widget">
                    <div class="title">
                        <h5>ABOUT US</h5>
                    </div>
                    <div class="paragraph">
                        <div class="footer-logo">
                            <img class="footer-logo-img" src="/Content/Images/logo-yan.png">
                        </div>
                        <p class="footer-company-name mb-2">Cập nhật tin tức hình ảnh Hoàng Thùy Linh mới nhất</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="widget">
                        <div class="social-links">
                            <a href="@Html.Raw("https://www.youtube.com/@HoangThuyLinh1108")"><i class="fa fa-youtube-play"></i></a>
                            <a href="https://www.facebook.com/hoangthuylinh.singer"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/hoangthuylinhofficial/"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>

                    <div class="widget footer-cp-text">
                        <p>
                            © Copyrights @DateTime.Now.Year. All rights reserved
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>
