
@model IEnumerable<KOL_HoangThuyLinh.Models.tblZone>

<table class="table table-striped jambo_table bulk_action">
    <thead>
        <tr class="headings">
            <th class="column-title">Chuyên mục </th>
            <th class="column-title" style="width:200px">
                &nbsp;
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ZoneName</td>
            <td>
                <button class="btn btn-info" onclick="AddZone('@item.Id')"><i class="fa fa-pencil"></i> Sửa </button>
                <button class="btn btn-danger" onclick="DeleteZone('@item.Id')"><i class="fa fa-remove"></i> Xoá </button>
            </td>
        </tr>
    }
</table>

