@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Roboto-Light;
    src: url('fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: Roboto-Medium;
    src: url('fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
}

body {
    font-family: Roboto;
    font-size: 17px;
}

a {
    text-decoration: none;
}

    a:active, a:focus, a:hover {
        outline: 0;
        text-decoration: none;
        color: #ff3f3a !important;
    }

ul {
    margin: 0;
    padding: 0;
}

.auth-wrapper .all-wrapper {
    padding: 100px;
}

.all-wrapper.with-pattern {
    box-shadow: none;
    border-radius: 0px;
    background-size: contain;
    background-repeat: repeat;
    background-position: 0 0;
}

.all-wrapper {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    max-width: 1600px;
    margin: 0px auto;
    position: relative;
    min-height: 100%;
}

.auth-box-w {
    max-width: 450px;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

    .auth-box-w .logo-w {
        text-align: center;
        padding: 10px;
    }

    .auth-box-w .auth-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        position: relative;
        z-index: 1;
        text-align: center;
    }

    .auth-box-w form {
        padding: 20px 80px;
        padding-bottom: 60px;
    }

        .auth-box-w form .form-group {
            position: relative;
        }


.dvLogo {
    padding: 15px 0;
}

    .dvLogo img {
        float: left;
        margin-left: -30px;
    }

.th-header {
    padding: 0 0 5px;
    background: #5f01d1;
    position: relative;
}

.dvHeader {
    width: 100%;
    background-color: #ff346c;
}

    .dvHeader h1, .dvHeader div {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
        padding: 8px 0;
    }

.navbar-nav .nav-item:first-child .nav-link {
    padding-left: 0;
}

.th-nav > div > ul, .th-nav > div > ul > li.th-dropdown {
    position: relative;
}

.th-nav > div > ul {
    width: 100%;
}

.th-nav ul {
    float: left;
    list-style: none;
}

.th-nav > div > ul > li {
    float: left;
    padding: 0 40px 10px 0;
    list-style-type: none;
}

    .th-nav > div > ul > li > a {
        color: #000;
        display: block;
        padding: 0 20px 0 0;
        position: relative;
        font-family: Roboto-Bold;
        text-transform: uppercase;
    }

    .th-nav > div > ul > li > .arrow:before {
        top: 0;
        right: 0;
        content: '\f107';
        position: absolute;
        font-family: FontAwesome;
    }

.th-nav ul > li > ul {
    top: 150%;
    left: 0;
    width: 240px;
    clear: both;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    list-style: none;
    background: #fff;
    position: absolute;
    line-height: 40px;
    font-weight: 300;
    text-transform: capitalize;
    box-shadow: 0 0 7px 3px #999;
    margin-top: 14px;
}

.th-nav ul li ul li {
    position: relative;
    line-height: 40px;
    list-style-type: none;
}

.th-nav > div > ul > li:hover > ul {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.th-nav ul li ul li a:before {
    top: 0;
    left: 0;
    content: '';
    width: 0;
    z-index: -1;
    height: 100%;
    position: absolute;
}

.th-nav ul > li > ul > li:hover > a, .th-nav ul > li > ul > li > a:hover {
    color: #fff !important;
}

    .th-nav ul > li > ul > li:hover > a:before {
        width: 100%;
    }

*:after,
*:before,
p a,
.th-themepost-img a img,
.th-themepost-img img,
a, .th-navigation ul li ul {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.th-nav ul > li > ul > li > a {
    z-index: 2;
    color: #000;
    display: block;
    padding: 0 25px;
    position: relative;
}

.th-navigation ul li a:hover,
.th-navigation ul li a:hover:before {
    color: #ff3f3a !important;
}

.th-nav > div > ul > li > ul li a:before {
    background: #ff3f3a;
}

#dvMain {
    background: #fff;
    padding: 10px 0;
}

.th-theme-tag {
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 0 10px;
    font-size: 10px;
    line-height: 20px;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.8);
}

.th-themepost-img .th-theme-tag {
    z-index: 4;
    display: inline-block;
    position: absolute;
}

.th-themepost {
    width: 100%;
    float: left;
    margin: 15px 0 15px;
    overflow: hidden;
}

.th-themepost-img {
    width: 100%;
    float: left;
    margin: 0 0 20px;
    overflow: hidden;
    position: relative;
}

    .th-themepost-img,
    .th-themepost-img a {
        z-index: 1;
        display: block;
        position: relative;
    }

        .th-themepost-img a img {
            display: block;
        }

.th-postmatadata {
    width: 100%;
    float: left;
    list-style: none;
    font-size: 13px;
    line-height: 16px;
    padding: 0 0 5px;
}

    .th-postmatadata li {
        float: left;
        padding: 0 8px;
        position: relative;
        line-height: inherit;
        list-style-type: none;
    }

        .th-postmatadata li:first-child {
            padding-left: 0;
        }

        .th-postmatadata li + li:before {
            top: 0;
            left: -2px;
            content: "-";
            position: absolute;
        }

        .th-postmatadata li a {
            color: #000;
        }

        .th-postmatadata li time a {
            color: #777;
        }

.th-posttitle {
    width: 100%;
    float: left;
    padding: 0 0 10px;
    min-height: 85px;
}

    .th-posttitle.mini {
        min-height: 62px;
    }

    .th-posttitle h2 {
        margin: 0;
        font-size: 20px;
        line-height: 1.3;
        font-weight: 700;
        text-transform: none;
        font-family: Roboto, Arial, Helvetica, sans-serif;
    }

        .th-posttitle h2 a {
            color: #000;
        }

.th-themepost:hover .th-themepost-img a img,
.th-themepost:hover .th-themepost-img img,
.th-widget-instagram ul.th-instagram li a:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.th-themepost-img figcaption {
    left: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    position: absolute;
    padding: 0 30px 40px;
}

    .th-themepost-img figcaption a {
        color: #fff;
    }

    .th-themepost-img figcaption .th-postmatadata li time a {
        color: #fff;
    }

.th-themepost.th-themepostoverlap .th-themepost-img {
    margin: 0;
}

.th-themepost.th-themepostoverlap .th-posttitle {
    padding: 0;
}

.th-home-slider {
    overflow: hidden;
    position: relative;
    margin: 15px 0;
}

    .th-home-slider .th-themepost {
        margin: 0;
    }

    .th-home-slider .th-posttitle h2 {
        font-size: 32px;
        line-height: 35px;
        font-weight: 600;
    }

.th-control {
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 130px;
    height: 50px;
    background: red;
    position: absolute;
}

.th-btnslidernext,
.th-btnsliderprev {
    top: 50%;
    width: 18px;
    height: 11px;
    margin: -5px 0 0;
    cursor: pointer;
    position: absolute;
}

.th-btnsliderprev {
    left: 20px;
}

.th-btnslidernext {
    right: 20px;
}

    .th-btnslidernext span,
    .th-btnsliderprev span {
        display: block;
        height: inherit;
        background: url(images/icon-arrow.png) no-repeat;
    }

    .th-btnslidernext span {
        background-position: 100% 0;
    }

.th-slider-pagination {
    float: none;
    color: #fff;
    width: 50px;
    padding: 13px 0;
    margin: 0 auto;
    text-align: center;
    font-family: Roboto;
}

.th-home-slider .th-themepost:hover .th-themepost-img img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.th-themepost-description {
    width: 100%;
    float: left;
}

    .th-themepost-description p {
        margin: 0 0 26px;
    }

.th-threecolumns {
    width: 100%;
    float: left;
}

    .th-threecolumns .th-posttitle h2 {
        font-size: 20px;
        line-height: 23px;
    }

    .th-threecolumns .th-themepost-img figcaption {
        padding: 0 15px 30px;
    }

.th-section-head {
    width: 100%;
    float: left;
    padding: 0 0 35px;
    text-align: center;
}

    .th-section-head h2 {
        margin: 0 0 5px;
        font-size: 32px;
        font-weight: 900;
        line-height: 24px;
        text-transform: uppercase;
    }

.th-lifestylepost .th-themepost {
    margin: 0;
}

.th-lifestylepost .th-themepost-img figcaption {
    padding: 0 20px 20px;
}

.th-lifestylepost .th-themepost .th-posttitle h2 {
    font-size: 18px;
    line-height: 20px;
}

.th-lifestylepost .th-themepost .th-description p {
    margin: 0;
}

.th-lifestylepost .th-thumbpost {
    margin: 30px 0 0;
}

.th-thumbpost .th-themepost-img {
    width: auto;
    float: left;
    margin: 0 15px 0 0;
}

.th-contentbox {
    overflow: hidden;
}

    .th-contentbox .th-posttitle {
        padding: 0;
    }

.th-lifestylepost .th-contentbox .th-posttitle h2 {
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
}

.th-footer {
    background: #121212;
}

.th-footerbar {
    width: 100%;
    float: left;
    padding: 20px 0;
    min-height: 56px;
    font-size: 13px;
    line-height: 22px;
    background: #090909;
    color: rgba(255,255,255,.5);
}

.th-number {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 18px 0 0;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    padding: 0 15px;
    border-radius: 3px;
    background: #ff3f3a;
}

.th-single-detailv5 .th-posttitle h2 {
    font-size: 32px;
    line-height: 35px;
    padding: 2px 0;
    overflow: hidden;
}

    .th-single-detailv5 .th-posttitle h2 a:hover {
        color: #ff3f3a;
    }

.th-widget {
    width: 100%;
    float: left;
    padding: 35px 20px;
    border: 1px solid #d3d3d3;
}


    .th-widget.th-addbox {
        border: 0;
        padding: 0;
    }

    .th-widget h3 {
        margin: 0;
        line-height: 24px;
    }

.th-widgettitle h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    margin: 0;
    padding: 0 15px;
    display: inline-block;
    background: #fff;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    padding-top: 17px;
}

.th-widgettitle {
    width: 100%;
    float: left;
    margin: 0 0 0;
    text-align: center;
    position: relative;
}

    .th-widgettitle:before {
        top: 30px;
        left: 0;
        content: '';
        width: 100%;
        height: 8px;
        z-index: 1;
        margin: -7px 0 0;
        background: #c9c9c9;
        position: absolute;
    }

.th-widget > ul {
    width: 100%;
    float: left;
    list-style: none;
}

.th-widget.th-mostpopularpost > ul > li {
    padding: 30px 0 0;
}

.th-widget.th-mostpopularpost > ul > li {
    padding: 0;
}

.th-widget > ul > li {
    width: 100%;
    float: left;
    padding: 15px 0;
    list-style-type: none;
}

.th-widget.th-mostpopularpost > ul > li figure {
    float: left;
    margin: 0 15px 0 0;
}

    .th-widget.th-mostpopularpost > ul > li figure a {
        display: block;
    }

.th-widget .th-contentbox {
    padding: 0;
}

.th-widget .th-postmatadata {
    margin: 0;
    padding: 0;
}

.th-widget.th-mostpopularpost .th-posttitle h4 {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: none;
}

.th-widget.th-mostpopularpost > ul > li {
    padding: 30px 0 0;
}

.th-postdetail .th-posttitle h1 {
    margin: 0;
    font-size: 32px;
    line-height: 40px;
}

.th-tags {
    width: 100%;
    float: left;
    margin: 0 0 35px;
}

    .th-tags label {
        float: left;
    }

    .th-tags h3 {
        font-size: unset;
        margin-left: 5px;
        margin-top: 2px;
        float: left;
    }

    .th-tags .th-tag {
        display: block;
        float: left;
        font-size: 11px;
        line-height: 33px;
        font-weight: 300;
        text-transform: uppercase;
        color: #000;
        background: #fff;
        margin: 0 5px 0 0;
        padding: 0 20px;
        border: 1px solid #a6a6a6;
        border-radius: 5px;
    }

.th-relatedpost {
    width: 100%;
    float: left;
    padding: 0 !important;
    overflow: hidden;
    position: relative;
}

.th-content .th-heading {
    width: 100%;
    float: left;
    padding: 0 0 20px;
}

.th-heading h2 {
    margin: 0;
    font-size: 32px;
    line-height: 25px;
}

.th-relatedpost-slider {
    width: 100%;
    float: left;
    margin-top: 10px;
}

    .th-relatedpost-slider .th-posttitle h2 {
        font-size: 18px;
    }

    .th-relatedpost-slider .th-rbtnslidernext,
    .th-relatedpost-slider .th-rbtnsliderprev {
        top: 0;
        margin: 0;
    }

    .th-relatedpost-slider .th-rbtnsliderprev {
        right: 40px;
        left: auto;
    }

    .th-relatedpost-slider .th-description {
        padding: 0;
    }

        .th-relatedpost-slider .th-description p {
            margin: 0;
        }

.th-rbtnslidernext,
.th-rbtnsliderprev {
    top: 50%;
    width: 34px;
    height: 34px;
    margin: -17px 0 0;
    cursor: pointer;
    position: absolute;
}

.th-rbtnsliderprev {
    left: 0;
}

.th-rbtnslidernext {
    right: 0;
}

    .th-rbtnslidernext span,
    .th-rbtnsliderprev span {
        display: block;
        height: inherit;
        background: url(images/icon-05.png) no-repeat;
    }

    .th-rbtnslidernext span {
        background-position: 100% 0;
    }

.th-mostpopularpost {
    padding-top: 20px;
    margin-top: 30px;
}

.th-posttitle.mini h4 a {
    color: #000;
}

figure img {
    width: 100% !important;
    height: auto !important;
}

#th-footer .badge {
    padding: 8px;
    margin: 0 5px 5px;
}

.dvSearch {
    position: relative;
    margin-left: 15px;
    padding-left: 15px;
}

    .dvSearch input {
        height: 40px;
        line-height: 32px;
        border-radius: 15px;
        border: 1px solid #e5e5e5;
        padding: 0 30px 0 30px;
        margin: 0;
        color: #fff;
        background-color: #5f01d1;
    }

        .dvSearch input:focus {
            background-color: #5f01d1;
            color: #fff;
        }

    .dvSearch button {
        background: none;
        position: absolute;
        left: 10px;
        top: 0;
        color: #fff;
        width: 40px;
        height: 32px;
    }

.dvTags {
    float: left;
}

    .dvTags img {
        margin: -10px 20px 0 70px;
    }

    .dvTags .badge {
        background-color: #fff;
        color: #5f01d1;
        padding: 10px;
        text-transform: uppercase;
        border-radius: 15px;
        margin-right: 15px;
    }

        .dvTags .badge:hover {
            color: #5f01d1 !important;
        }

.media {
    display: block;
}

.th-postdetail figure.image {
    text-align: center;
}


.reading-post figcaption {
    text-align: center;
}

.reading-post h1,.reading-post h2 strong , .reading-post h3 strong, .reading-post h4 strong, .reading-post h5 strong {
    line-height: 1.3;
}

.reading-post p, .reading-post ul {
    line-height: 1.6;
}

.reading-post ul {
    padding: revert;
    margin: revert;
}

ul.th-postmatadata {
    padding: unset;
}

.reading-post h2, .reading-post h3, .reading-post h4, .reading-post h5, .reading-post figure.media {
    margin-bottom: 10px;
}

.pagination a {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination a:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.pagination li.active span {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.5rem 0.75rem;
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    border: 1px solid #dee2e6;
}

.pagination li:first-child span {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    z-index: 3;
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    border: 1px solid #dee2e6;
}

.pagination li:last-child span {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    z-index: 3;
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    border: 1px solid #dee2e6;
}

.pagination li.disabled span {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;

    z-index: 3;
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    border: 1px solid #dee2e6;
}