<footer id="th-footer" class="th-footer">
    <div class="th-footerbar">
        <div class="container">
            <div class="row">
                <div class="col-7">
                    <div class="th-copyright">Copyright © @DateTime.Now.Year</div>
                    <div>
                        Tinsaohan.com: tổng hợp những tin tức, bài viết hay nhất về giới nghệ sĩ, diễn viên, idol,ngôi sao, người nổi tiếng Hàn Quốc. Những bí mật ít ai biết trong làng giải trí KBiz.
                    </div>
                    <div>Email: tinsaohan@gmail.com</div>
                    <div><a href="https://tintucsaohoangu.com/">Tin tức sao Hoa Ngữ</a> </div>
                </div> 
                <div class="col-3">
                    @* @await Component.InvokeAsync("TopNav") *@
                    @* @{Html.RenderAction("GetTagsView", "Home"); } *@
                </div>
                <div class="col-2">
                    <img src="~/Images/logo2.png" class="img-fluid" width="100"/>
                </div>
            </div>
           
        </div>
    </div>

</footer>
