:root {
    --main-color: #b23763;
    --font-color: #fff;
    --main-background-color: #fff;
}

body {
    background-color: var(--main-background-color);
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: "playball";
    src: url("fonts/Playball-Regular.ttf");
}


@font-face {
    font-family: "merriweather";
    src: url("fonts/Merriweather-Regular.ttf");
}

@font-face {
    font-family: "montserrat";
    src: url("fonts/Montserrat-Regular.ttf");
}

.social-links a {
    color: var(--color-social);
    font-size: 14px;
    display: inline-block;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.profile::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.profile {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
}



.profile-info {
    color: var(--font-color);
    position: relative;
    top: 65px;
}

.profile-title {
    font-family: playball;
    font-size: 36px;
    text-align: center;
}

.profile-description {
    font-size: 16px;
    font-family: merriweather;
    line-height: 30px;
}

.profile-readmore {
    margin-top: 30px;
    text-align: center;
}


    .profile-readmore .btn {
        background-color: var(--main-color);
        color: white;
    }

    .profile-readmore a {
        font-family: meriweather;
        font-size: 16px;
        padding: 12px 28px;
        line-height: 1em;
        border-radius: 30px;
        margin-top: 49px;
        transition: 0.2s;
    }

        .profile-readmore a:hover {
            background-color: transparent;
            color: var(--main-color);
            border-color: var(--main-color);
        }

.seperator {
    margin-bottom: 0px;
}

    .seperator.size-small {
        width: 190px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }

.seperator {
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    text-align: center;
    position: relative;
    height: 21px;
    line-height: 21px;
    overflow: hidden;
}

    .seperator.with-colored::before,
    .seperator.with-colored::after {
        background-color: var(--main-color);
    }

    .seperator:before,
    .seperator:after {
        content: '';
        height: 1px;
        width: 160px;
        left: 50%;
        margin-left: -174px;
        top: 11px;
        position: absolute;
        background-color: rgba(119, 119, 119, 0.2);
    }

    .seperator.with-colored span {
        border-color: var(--main-color);
    }

    .seperator span {
        display: inline-block;
        position: relative;
        width: 7px;
        height: 7px;
        line-height: 7px;
        border: 1px solid rgba(119, 119, 119, 0.2);
        background-color: transparent;
        transform: rotate(45deg);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        top: -2px;
    }

    .seperator.with-colored span::before,
    .seperator.with-colored span::after {
        border-color: var(--main-color);
    }

    .seperator span::before {
        left: -8px;
        top: 6px;
    }

    .seperator span::before,
    .seperator span::after {
        content: '';
        width: 7px;
        height: 7px;
        line-height: 7px;
        border: 1px solid rgba(119, 119, 119, 0.2);
        background-color: transparent;
        position: absolute;
    }

    .seperator.with-colored span::before,
    .seperator.with-colored span::after {
        border-color: var(--main-color);
    }

    .seperator span::after {
        right: -8px;
        top: -8px;
    }

    .seperator span::before,
    .seperator span::after {
        content: '';
        width: 7px;
        height: 7px;
        line-height: 7px;
        border: 1px solid rgba(119, 119, 119, 0.2);
        background-color: transparent;
        position: absolute;
    }

    .seperator.with-colored::before,
    .seperator.with-colored::after {
        background-color: var(--main-color);
    }

    .seperator:after {
        left: auto;
        right: 50%;
        margin-left: auto;
        margin-right: -174px;
    }

    .seperator:before,
    .seperator:after {
        content: '';
        height: 1px;
        width: 160px;
        left: 50%;
        margin-left: -174px;
        top: 11px;
        position: absolute;
        background-color: rgba(119, 119, 119, 0.2);
    }

    .seperator:after {
        left: auto;
    }

.blog-contanier .row > * {
    padding: 0;
}

.card {
    border: none;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.card-info {
    position: absolute;
    padding: 40px;
    text-align: center;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block
}

.card-read-more a {
    border-radius: 30px;
    font-family: 'merriweather';
    font-weight: bold;
    font-size: 14px;
    padding: 12px 28px;
    line-height: 0.5;
}

.card-read-more .btn {
    background-color: #fff;
    color: black;
}

.card-info-date {
    font-family: merriweather;
    font-size: 14px;
    color: var(--font-color);
}

.card-info-title {
    font-family: playball;
    font-size: 26px;
}

.blog-item {
    transition: 0.2s;
}

    .blog-item:hover .card-img-overlay {
        background-color: var(--main-color);
        transition: 0.2s;
    }

    .blog-item .card-img-overlay::after {
        content: '';
        position: absolute;
        border: 0px solid white;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: 0.2s;
    }

    .blog-item:hover .card-img-overlay::after {
        content: '';
        position: absolute;
        border: 1px solid white;
        top: 22px;
        bottom: 22px;
        right: 22px;
        left: 22px;
    }

    .blog-item:hover .card-read-more {
        visibility: visible;
        opacity: 1;
        height: 40px;
    }

.card-read-more {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

    .card-read-more a {
        margin-top: 5px;
    }

.pagination {
    margin: 30px 0;
}

.page-item {
    margin: 0 5px;
}

    .page-item .page-link {
        border-radius: unset !important;
    }

a.page-link {
    font-family: 'merriweather';
    font-size: 12px;
    transition: 0.2s;
    color: black;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.page-link:hover {
    z-index: 2;
    color: #fff;
    text-decoration: none;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.footer-row {
    position: relative;
}

    .footer-row .fi-caption {
        position: absolute;
        background-color: rgba(34, 34, 34, 0.95);
        top: 50%;
        left: 50%;
        padding: 25px 50px;
        color: #fff;
        font-family: 'Montserrat';
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 1px;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

img {
    width: 100%;
}

.footer-row .row > * {
    padding: 0;
}


.list-category {
    display: flex;
    flex-direction: column;
}


footer {
    font-family: 'montserrat';
    font-size: 14px;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 26px;
}

    footer a {
        color: rgba(0, 0, 0, 0.4);
    }

        footer a:hover {
            color: rgba(0, 0, 0, 0.4);
            text-decoration: underline;
        }

a.tag-cloud {
    text-decoration: none;
    border-radius: 30px;
    border: 1px solid darkblue;
    padding: 15px 20px;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-size: 11px;
    line-height: 0;
    transition: 0.2s;
}

    a.tag-cloud:hover {
        text-decoration: none;
        border-color: var(--main-color);
        color: var(--main-color);
    }




.widget .title {
    margin-bottom: 15px;
}

    .widget .title h5 {
        font-size: 12px;
        text-transform: uppercase;
    }


.nav-bar form.active {
    width: 100%;
}

.navbar-toggler {
    font-size: 16px;
}

.navbar {
    justify-content: start;
}

    .navbar form {
        order: 4;
    }


div#dvContent figure.image img {
    width: unset;
}


.margin-top-content {
    margin-top: 30px;
}

.menu-bar .navbar form {
    display: flex;
    flex-direction: row;
    left: -70px;
    position: relative;
}

#txtKey.active {
    width: 150px;
    padding: 0.375rem 0.75rem;
    opacity: 1;
}

#txtKey {
    width: 0;
    opacity: 0;
    transition: .2s;
}

.form-search__submit {
    position: absolute;
    right: 0;
    font-size: 20px;
    line-height: 2px;
    transition: .2s;
}

button.btn.form-search__submit:hover {
    color: var(--main-color);
}

a.nav-link {
    font-family: 'merriweather';
    transition: 0.2s;
}



#collapsibleNavId form {
    position: relative;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

header {
    background-color: #f8f9fa !important;
    box-shadow: 0 1px 10px;
}

.navbar-brand {
    transition: 0.2s;
}


.social-links a i {
    transition: 0.2s;
}

    .social-links a i:hover {
        color: var(--main-color) !important;
    }

.navbar-nav .nav-item a:hover {
    color: var(--main-color) !important;
}

.sub-footer p,
.sub-footer i {
    font-weight: 100;
    color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
    line-height: 1em;
    margin-bottom: 15px;
}

.sub-footer p {
    font-family: 'merriweather';
}

.social-links a {
    margin-right: 5px;
}


figure.media {
    text-align: center;
}

    figure.media video {
        width: auto;
        height: 480px;
    }

div#dvContent p {
    font-family: arial;
}

div#dvDetail {
    margin-bottom: 15px;
    margin-top: 30px;
}

.source-link a:hover {
    text-decoration: underline;
}


.th-relatedpost {
    width: 100%;
    float: left;
    padding: 0 !important;
    overflow: hidden;
    position: relative;
}

.reading-post h2, .reading-post h3, .reading-post h4, .reading-post h5, .reading-post figure.media {
    margin-bottom: 10px;
}

.th-relatedpost-slider {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.source-link {
    margin-bottom: 25px;
}


.bootbox-close-button {
    float: right;
}

#dvDetail .swiper-button-prev:after {
    content: "";
}


.card-img-overlay {
    border-radius: unset;
}

.card-img, .card-img-bottom {
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
}

.card-img, .card-img-top {
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}


h5.card-info-title a {
    color: var(--font-color);
    text-decoration: none;
}

.sub-footer {
    background-color: #222;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

    .sub-footer p,
    .sub-footer i {
        font-weight: 100;
        color: rgba(255, 255, 255, 0.4);
        font-size: 12px;
        line-height: 1em;
        margin-bottom: 15px;
    }

    .sub-footer p {
        font-family: 'merriweather';
    }


.list-category > a {
    text-decoration: none;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '';
}

.swiper-button-prev img {
    width: 60px;
}

.swiper-button-next img {
    width: 60px;
}

#dvDetail {
    font-family: 'merriweather';
}

.th-posttitle.mini h2 a {
    text-decoration: none;
    color: black !important;
    font-size: 22px;
    font-family: 'merriweather';
}

div#dvDetail h1 {
    font-size: 26px;
    line-height: 35px;
}

ul.th-postmatadata {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

    ul.th-postmatadata a {
        text-decoration: none;
        color: black !important;
    }

.th-posttitle h2 {
    line-height: 30px;
}

    .th-posttitle h2 a {
        transition: 0.2s;
        text-decoration: none;
        color: black;
        font-size: 22px;
        line-height: 0px;
    }

.th-widget.th-mostpopularpost ul {
    padding: 0;
}

    .th-widget.th-mostpopularpost ul li {
        list-style-type: none;
        padding: 0;
    }


.widget a {
    text-decoration: none;
    color: black;
}

.th-posttitle.mini h4 {
    line-height: 30px;
    font-size: 18px;
    transition: 0.2s;
}

    .th-posttitle.mini h4 a {
        transition: 0.2s;
    }

li.news-news-type {
    margin-bottom: 20px;
}

.th-widgettitle:before {
    top: 30px;
    left: 0;
    content: '';
    width: 100%;
    height: 8px;
    z-index: 1;
    margin: -7px 0 0;
    background: #c9c9c9;
    position: absolute;
}

.th-widget {
    width: 100%;
    float: left;
    padding: 35px 20px;
    border: 1px solid #d3d3d3;
}

.th-widgettitle h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    margin: 0;
    padding: 0 15px;
    display: inline-block;
    background: #fff;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    padding-top: 17px;
}

.th-widget {
    width: 100%;
    float: left;
    padding: 35px 20px;
    border: 1px solid #d3d3d3;
}

.th-widgettitle {
    width: 100%;
    float: left;
    margin: 0 0 0;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

figure {
    overflow: hidden;
}

    figure img {
        transition: 0.2s;
    }

        figure img:hover:not(#dvDetail img) {
            transform: scale(1.2);
        }


.th-posttitle h2 a:hover, .th-posttitle.mini h4 a:hover {
    color: var(--main-color);
}

.blog-contanier {
    margin-bottom: 50px;
}

.figure-img {
    margin-bottom: 0;
}

.row.row-top-news a {
    text-decoration: none !important;
    color: black;
}

figure {
    margin-bottom: 0;
}

.gallery-category .gallery-album .gallery-album-title {
    height: 120px;
    margin-bottom: 0;
}

.gallery-album-title {
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -WEBKIT-BOX;
    -webkit-box-orient: vertical;
}

.section-gallery .hash-tag {
    font-size: 36px;
    font-weight: 500;
    font-style: italic;
    font-family: merriweather;
    color: #000;
}

.gallery-category .section-gallery .figure {
    overflow: hidden;
    margin-bottom: 0;
    border: 8px solid #fff;
    box-shadow: 5px 5px 10px 0;
}

.gallery-album a {
    text-decoration: none;
}


.gallery-albums .gallery-albums-title .hash-tag {
    font-size: 30px;
    font-family: 'SFU bold';
    font-style: italic;
}

.gallery-albums .gallery-albums-title .hash-tag {
    font-size: 30px;
    font-family: 'SFU bold';
    font-style: italic;
}

.gallery-albums .gallery-albums-title {
    text-align: center;
    padding: 30px 0;
}

.gallery-albums figure {
    display: block;
}

.gallery-albums .swiper-button-prev:after {
    content: "";
}

.album-images > * {
    margin-bottom: 15px;
    align-items: center;
}

.gallery-albums {
    font-family: 'merriweather';
}


    .gallery-albums .swiper-button-prev {
        left: 0;
    }

    .gallery-albums .swiper-button-next {
        right: 0;
    }

    .gallery-albums .swiper-slide {
        padding: 0;
    }

    .gallery-albums .mySwiper {
        width: 100%;
    }


    .gallery-albums .album-images > .row {
        margin-bottom: 15px;
    }

.menu-bar {
    background-color: rgb(233, 185, 162);
}

.gallery-albums .album-images .row {
    align-items: center;
    text-align: center;
}

.fp-tableCell {
    vertical-align: top !important;
}

.swiper-container {
    position: relative;
}

.gallery-albums .swiper-button-next {
    right: 15px;
    left: auto;
}

.gallery-albums .swiper-button-prev {
    left: 15px;
    right: auto;
}

    .gallery-albums .swiper-button-prev:after {
        content: "";
    }

.gallery-albums .swiper-button-next:after {
    content: "";
}

.figure {
    display: block;
}

.gallery-albums .row.third-row .col-6 {
    margin-bottom: 15px;
}


#modalGallery .modal-header .close {
    z-index: 99;
    color: white;
    background-color: transparent;
    border: none;
}

#modalGallery {
    transition: opacity .15s linear !important;
}

    #modalGallery .modal-dialog {
        transition: transform .3s ease-out !important;
    }

    #modalGallery .swiper-gallery .swiper-slide {
        padding: 10px;
        background-color: black;
    }


    #modalGallery .swiper-gallery {
        background-color: black;
    }


    #modalGallery img {
        width: 100%;
    }

    #modalGallery .swiper-grid-column > .swiper-wrapper {
        flex-direction: row;
    }

    #modalGallery .modal-header {
        border-bottom: none;
    }

    #modalGallery .modal-footer {
        border-top: none;
    }

    #modalGallery .swiper-pagination-fraction {
        top: 5px;
        left: 0;
        z-index: 0;
        color: #999;
        font-size: 20px;
    }


    #modalGallery .modal-body {
        padding: 0rem;
    }

    #modalGallery .modal-header {
        padding: 0.2rem 0.2rem;
        background-color: black;
    }

    #modalGallery .swiper-button-next:after, .swiper-button-prev:after {
        color: #999;
        font-weight: bold;
    }

    #modalGallery .modal-content {
        background-color: black;
    }

    #modalGallery .modal-header .close {
        padding: 0rem 1rem;
        margin: 0rem 0rem 0rem auto;
        font-size: 24px;
    }

    #modalGallery .modal-dialog button:focus {
        outline: transparent;
    }


    #modalGallery .swiper-slide {
        transition: 0.6s;
    }

    #modalGallery .swiper-slide {
        opacity: 0;
    }


    #modalGallery .swiper-slide-active {
        opacity: 1;
    }

    #modalGallery .modal-dialog {
        max-width: 75%;
    }

    #modalGallery .swiper-slide img {
        display: block;
        width: 50%;
        height: 100%;
        object-fit: cover;
        margin: auto;
    }

    #modalGallery .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 20px;
    }



/*//Login*/
.all-wrapper.with-pattern {
    box-shadow: none;
    border-radius: 0;
    background-size: contain;
    background-repeat: repeat;
    background-position: 0 0;
}

.auth-wrapper .all-wrapper {
    padding: 100px;
}

.all-wrapper {
    border-radius: 6px;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    min-height: 100%;
}

.auth-box-w {
    max-width: 450px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

    .auth-box-w .logo-w {
        text-align: center;
        padding: 10px;
    }

    .auth-box-w .auth-header {
        border-bottom: 1px solid rgba(0,0,0,.1);
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        position: relative;
        z-index: 1;
        text-align: center;
    }

    .auth-box-w form {
        padding: 20px 80px;
        padding-bottom: 60px;
    }

        .auth-box-w form .form-group {
            position: relative;
        }

.form-group {
    margin-bottom: 1rem;
}

.footer-logo {
    width: 200px;
}


.news-category {
    font-family: merriweather;
}


.navbar.active #txtKey {
    width: 100%;
    padding: 0.375rem 0.75rem;
    opacity: 1;
}

.navbar.active form {
    width: 100%;
    z-index: 999;
}

.navbar form {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin-top: 10px;
    z-index: 0;
}

.navbar .topbar-left-content {
    position: relative;
    z-index: 999;
}

.navbar .navbar-toggler {
    z-index: 999;
}


.icon-youtube {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    z-index: 99;
}

.buttons-w {
    margin-top: 15px;
}

.figure {
    position: relative;
}

div#dvContent figure {
    margin-bottom: 15px;
}

.section-gallery .row .col-sm-6 {
    margin-bottom: 15px;
}

figure.image {
    text-align: center;
}

figure.th-themepost-img {
    text-align: center;
}


.th-postdetail figure.th-themepost-img img {
    width: unset;
}


li.news-video-type {
    margin-bottom: 20px;
}

div#dvList figure.figure {
    margin-bottom: 15px;
}

div#th-relatedpost-slider figure.th-themepost-img {
    margin-bottom: 15px;
}
